.feature__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.no-flexbox .feature-list__item {
    display: inline-block;
    vertical-align: top;
}

.feature-list__item {
    max-width: 18.75rem;
    margin-bottom: 5rem;
}

.feature-list__item {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.feature-list__item {
    & > div {
        float: left;
    }
}

.feature-item__icon {
    width: 30%;
    text-align: center;
    & > i {
        font-size: 3.125rem;
    }
}

.feature-item__content {
    width: 70%;
}

.feature-item__title {
    font-size: 1.125rem;
    font-weight: bold;
}

.feature-item__body {
    font-size: .875rem;
    line-height: 1.25rem;
    color: $grey;
}

