.team__list {
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and ( max-width: 768px ) {
        flex-wrap: wrap;
    }
}

.no-flexbox .team-list__item {
    display: inline-block;
    vertical-align: top;
}

.team-list__item {
    max-width: 13.125rem;
    padding: 0 1rem;
    @media screen and ( max-width: 768px ) {
        max-width: 45%;
        padding: 0 6%;
        margin-bottom: 2rem;
    } 
    @media screen and ( max-width: 480px ) {
        padding: 0 3%;
    }
    @media screen and ( max-width: 375px ) {
        max-width: 80%;
    }
}
 
.team-item__ava {
    width: 8.125rem; height: 8.125rem;
    margin: 1rem auto;
}

.team-ava__wrap {
    border-radius: 50%;
    overflow: hidden;
}

.team-ava__wrap {
    img {
        max-width: 100%;
        transform: scale(1.1);
    }
}

.team-item__header {
    padding: .75rem 0;
}

.team-header__title {
    font-size: 1.375rem;
    line-height: 2rem;
}

.team-header__subtitle {
    color: $grey;
}

.team-item__body {
    font-size: .875rem;
    line-height: 1.125rem;
}

.team-item__social {
    padding: .75rem 0;
}

.team-social__icon {
    display: inline-block;
    margin: 0 .3125rem;
}