.hero {
    display: flex;
    background-color: #fcdb00;
    overflow: hidden;

    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
} 

.hero__slide-menu {
    position: fixed;
    top: 0; left: 0;
    width: 0; height: 100%;
    background-color: rgba($black,.9);
    overflow: hidden;
    transition: all 1s;
}

.hero-slide__list {
    position: relative;
    width: 320px;
    padding: 0 2rem;
    margin-top: 3rem;

    .fa-times {
        position: absolute;
        top: 0; right: 5%;
        color: rgba( 255,255,255,.7 );
        transition: all .5s;
        &:hover {
            color: #fff;
            cursor: pointer;
        }
    }
}

.hero-list__item {
    margin-bottom: 1.5rem;
}

.hero-item__link {
    font-size: .875rem;
    text-transform: uppercase;
    color: rgba( 255,255,255,.7 );
    transition: all .5s;
    &:hover {
        color: #fff;
    }
}

.hero__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-header__menu {
    .fa {
        cursor: pointer;
    }
    .fa-times {
        display: none;
    }
}

.logo__pic {
    display: inline-block;
    vertical-align: middle;
    @media screen and ( max-width: 375px ) {
        display: none;
    }
}

.logo__banner {
    display: inline-block;
    margin-left: .5rem;
    vertical-align: middle;
    font-weight: bold;
}

.hero-social__link {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.hero__cont {
    max-width: 34.375rem;
    text-align: center;
    @media screen and ( max-width: 480px ) {
        max-width: 24.375rem;
    }
}

.hero-cont__header {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4.5rem;
    @media screen and ( max-width: 480px ) {
        margin-bottom: 3%;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.hero-cont__body {
    font-size: 1.25rem;
    line-height: 1.5rem;
    @media screen and ( max-width: 480px ) {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.hero-cont__start {
    margin: 5% 0;
}

.hero-start__btn {
    display: inline-block;
    padding: .875rem 4.25rem;
    border: 2px solid $black;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    @media screen and ( max-width: 375px ) {
        padding: .75rem 3rem;
        font-size: 1.125rem;
    }
}

.hero__arrow {
    & > i {
        font-size: 2rem;
    }
}