* {
    box-sizing: border-box;
    color: $black;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    @media screen and ( max-width: 768px ) {
        font-size: 14px;
    }
    @media screen and ( max-width: 480px ) {
        font-size: 12px;
    }
}

.section {
    height: 100%;
    min-height: 40.625rem;
    @media screen and ( max-width: 480px ) {
        min-height: 100%;
    }
}

.container {
    display: flex;
    align-items: center;
}

.container {
    width: 95%; max-width: 58.75rem;
    min-height: 100%;
    padding: 2rem 1rem;
    margin: auto;
    @media screen and ( max-width: 480px ) {
        padding: 2rem 0;
    }
}

.wrap__cont {
    width: 100%;
    min-height: 40.625rem;
}

.no-flexbox .container {
    display: table;
}

.no-flexbox .wrap__cont {
    display: table-cell;
    vertical-align: middle;
}

ul {
margin: 0;
padding: 0;
    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}