.test__list {
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and ( max-width: 480px ) {
        flex-wrap: wrap;
    }
}

.test-list__item {
    width: 8.75rem;
    margin-bottom: 2rem;
    @media screen and ( max-width: 480px ) {
        width: 41%;
    }
}

.test-item__icn {
    .fa {
        font-size: 3rem;
    }
}

.test-item__counter {
    padding: .3rem 0;
   .test-counter__counter {
       font-size: 1.5rem;
       @media screen and ( max-width: 480px ) {
           font-size: 1.125rem;
       }
   } 
}

.test__carousel {
    max-width: 33.75rem;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    @media screen and ( max-width: 480px ) {
        max-width: 20rem;
    } 
}

.test-item__count {
    font-size: .875rem;
    color: $grey;
}

.test-carousel__wrap {
    will-change: transform; 
    transition: all .7s;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.test-carousel__wrap.active {
    transition: all .7s;
}    

.test-carousel__slide {
    float: left;
    width: 33.75rem;
    @media screen and ( max-width: 480px ) {
        width: 20rem;
    }
 }

.test-carousel__slide {
    position: relative;
}

.test-slide__image {
    display: inline-block;
}

.test-image__wrap {
    border-radius: 50%;
    overflow-x: hidden;
}

.test-image__pic {
    display: block;
}

.test-slide__header {
    margin: 1rem 0;
}

.test-header__title {
    font-size: 1.5rem;
    @media screen and ( max-width: 480px ) {
        font-size: 1.25rem;
    }
}

.test-header__subtitle {
    font-size: .875rem;
    color: $grey;
}

.test-slide__cont {
    font-size: 1.25rem;
    color: $grey;
    @media screen and ( max-width: 480px ) {
        font-size: 1rem;
    }
}

.test-slide__quo {
    position: absolute;
    bottom: 0; 
    & > i {
        color: $grey;
    }
    @media screen and ( max-width: 480px ) {
        display: none;
    }
}

.left__quo {
    bottom: 20%;
}

.right__quo {
    right: 0;
}