.cont {
    text-align: center;
}

.cont__list {
    display: flex;
    justify-content: center;
    @media screen and ( max-width: 480px ) {
        flex-direction: column;
    }
}

.cont__list {
    margin-bottom: 2rem;
}

.cont-list__item {
    max-width: 13.75rem;
    padding: 0 2rem;
    @media screen and ( max-width: 480px ) {
        max-width: 100%;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.cont-list__item {
    @media screen and ( max-width: 480px ) {
        & > div {
            float: left;
        }
        margin-bottom: 7%;
    }
}

.cont-item__icon {
    padding: 1rem 0;
    @media screen and ( max-width: 480px ) {
        width: 10%;
        padding: 0 0 3% 0;
    }
    & > i {
        font-size: 2rem;
    }
}

.cont-item__cont {
    @media screen and ( max-width: 480px ) {
        width: 90%;
        padding-left: 9%;
        text-align: left;
    }
}

.cont-cont__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
    @media screen and ( max-width: 480px ) {
        font-size: 1.125rem;
        line-height: 1.25rem;
    }
}

.cont-cont__body {
    font-size: .875rem;
    color: $grey;
}

.cont__form {
    max-width: 45%;
    margin: auto;
    @media screen and ( max-width: 768px ) {
        max-width: 90%;
    }
    @media screen and ( max-width: 375px ) {
        max-width: 100%;
    }
}

.form__wrap {
    &:not(:last-child) {
        margin-bottom: 1.625rem;
    }
}        

.form__pole {
    display: inline-block;
    width: 100%;
    padding: 1rem .75rem;
    border: .125rem solid $black;
    outline-color: $black;
}

.form__send-button {
    display: inline-block;
    padding: 1.125rem 2rem 1rem 2rem;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $black;
    color: #fff;
    cursor: pointer;    
}