.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @media screen and ( max-width: 768px ) {
        justify-content: space-around;
    }
}

.work-list__item {
    width: 220px;
    margin-bottom: 32px;
    cursor: pointer;
    @media screen and ( max-width: 768px ) {
        width: 45%;
    }
    @media screen and ( max-width: 375px ) {
        width: 65%;
    }
}

.work-item__cont {
    text-align: center;
}

.work-item__image {
    position: relative;
}
.work-image__pic {
    width: 100%;
}
.work-image__icon {
    position: absolute;
    bottom: 12px;
    font-size: 14px;
    & span, i {
        color: #fff;
    }
}
.work-image__see {
    left: 12px;
}
.work-image__date {
    right: 12px;
}

.work-cont__title {
    font-size: 18px;
    font-weight: bold;
}

.work-cont__body {
    font-size: 14px;
    color: $grey;
}